{% extends 'base.fcc.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="screen"/>
{% endblock %}

{% block page_toolbar_left %}
    FCC Users
{% endblock %}
{% block page_toolbar_right %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">

            <form method="post" action="{{ path('fcc_user_list') }}">
                <div style="margin-bottom: 10px;">
                    <input type="text" class="form-control input-sm" name="searchUsername"
                           value="{{ searchFilter.username }}"
                           placeholder="Search Username"
                           style="width: 250px;display: inline-block;" autocomplete="off">
                    <input type="text" class="form-control input-sm" name="searchFirstName"
                           value="{{ searchFilter.firstName }}"
                           placeholder="Search First Name"
                           style="width: 150px;display: inline-block;" autocomplete="off">
                    <button type="submit" name="btnSearch" class="btn btn-primary btn-sm">
                        <i class="fa fa-search"></i> Search
                    </button>
                    {#<button type="submit" name="btnResetSearch" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i>
                    </button>#}
                </div>

                <div style="margin-top: 40px;margin-bottom: 5px;">
                    <div class="pull-left">
                        <div class="btn-group btn-group-sm" role="group"
                             style="display: inline-block;font-weight: bold;">
                            <button type="submit" class="btn btn-default" name="btnPageFirst">|<i class="fa fa-chevron-left"></i> </button>
                            <button type="submit" class="btn btn-default" name="btnPagePrev"> <i class="fa fa-chevron-left"></i> </button>
                            <button type="submit" class="btn btn-default" name="btnPageNext"> <i class="fa fa-chevron-right"></i> </button>
                            <button type="submit" class="btn btn-default" name="btnPageLast"> <i class="fa fa-chevron-right"></i>|</button>
                        </div>
                        <div style="display: inline-block;margin-left: 20px;">
                            {{ paginator.paginationDescription }}
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="{{ path('fcc_user_new') }}">
                            <i class="fa fa-plus"></i> Add FCC User
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="40">S/N</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Committee</th>
                        <th>Department</th>
                        <th>State of Posting</th>
                        <th>Role</th>
                        <th width="100">Status</th>
                        <th width="50"></th>
                        <th width="50"></th>
                        <th width="30"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var record \AppBundle\Model\Users\UserProfile #}
                    {% for record in records %}
                        <tr>
                            <td>{{ record.displaySerialNo }}</td>
                            <td>{{ record.username }}</td>
                            <td>{{ record.firstName }}</td>
                            <td>{{ record.lastName }}</td>
                            <td>{{ record.primaryPhone }}</td>
                            <td>{{ record.emailAddress }}</td>
                            <td>{{ record.fccCommitteeName }}</td>
                            <td>{{ record.fccDepartmentName }}</td>
                            <td>{{ record.stateOfPostingName }}</td>
                            <td>{{ record.primaryRoleDescription }}</td>
                            <td>{{ record.status }}</td>
                            <td>
                                <a href="{{ path('fcc_user_edit', { guid: record.guid }) }}"
                                   class="btn btn-xs btn-primary" title="Edit">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="#"
                                               onclick="openFancyBox('{{ path('super_admin_reset_user_password', { guid : record.guid }) }}'); return false;">
                                                Change Password
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('fcc_user_delete', { guid: record.guid }) }}"
                                   class="btn btn-xs btn-danger" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <input type="hidden" name="startRow" value="{{ paginator.startRow }}"/>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js') }}"></script>
    <script>
        function openFancyBox(url) {
            $.fancybox.open({
                autoSize: false,
                width: '500',
                height: '600',
                href: '' + url + '',
                type: 'iframe',
                padding: 2,
                helpers : {
                    overlay : {
                        closeClick : false
                    }
                }
            });
            return false;
        }
    </script>
{% endblock %}