{% extends 'base.fcc.html.twig' %}

{% block page_toolbar_left %}
    Processed Nominal Roll Submissions
{% endblock %}
{% block page_toolbar_right %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">

            {% include 'secure_area/federal/nominal_roll/mis_head/_mis_head_nominal_roll_tabs.html.twig' with { activePage : 'processed' } %}

            {% if app.session.started and app.session.flashBag.peekAll is not empty %}
                <div class="messages">
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{{ path('mis_head_nominal_roll_processed_list') }}">
                <div style="margin: 20px 0;">
                    <select class="form-control input-14 select-2" name="searchOrganizationId"
                            style="display: inline-block; width: 400px;">
                        <option value="">Choose Organization</option>
                        {% for organization in organizations %}
                            {% if organization.id == searchFilter.organizationId %}
                                {% set selected = 'selected' %}
                            {% else %}
                                {% set selected = '' %}
                            {% endif %}
                            <option value="{{ organization.id }}" {{ selected }}>{{ organization.organization_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="btnSearch" class="btn btn-primary btn-sm">
                        Search <i class="fa fa-search"></i>
                    </button>
                    {#<button type="submit" name="btnResetSearch" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i>
                    </button>#}
                </div>

                <div style="margin-top: 20px;margin-bottom: 5px;">
                    <div class="pull-left">
                        <div class="btn-group btn-group-sm" role="group"
                             style="display: inline-block;font-weight: bold;">
                            <button type="submit" class="btn btn-default" name="btnPageFirst">|<i
                                        class="fa fa-chevron-left"></i></button>
                            <button type="submit" class="btn btn-default" name="btnPagePrev"><i
                                        class="fa fa-chevron-left"></i></button>
                            <button type="submit" class="btn btn-default" name="btnPageNext"><i
                                        class="fa fa-chevron-right"></i></button>
                            <button type="submit" class="btn btn-default" name="btnPageLast"><i
                                        class="fa fa-chevron-right"></i>|
                            </button>
                        </div>
                        <div style="display: inline-block;margin-left: 20px;">
                            {{ paginator.paginationDescription }}
                        </div>
                    </div>
                    <div class="pull-right">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="40">S/N</th>
                        <th>Year</th>
                        <th>Organization</th>
                        <th>Date Of Submission</th>
                        <th>File Name</th>
                        <th>Total Rows Imported</th>
                        <th>Validation Status</th>
                        <th>Desk Officer<br/>Confirmation</th>
                        <th>MIS Head<br/>Approval</th>
                        <th>Processing Status</th>
                        <th width="50"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var record \AppBundle\Model\Submission\NominalRollSubmission #}
                    {% for record in records %}
                        <tr class="VALIDATION-{{ record.validationStatus }}">
                            <td>{{ record.displaySerialNo }}</td>
                            <td>{{ record.submissionYear }}</td>
                            <td>{{ record.organizationName }}</td>
                            <td>{{ record.created }}</td>
                            <td>{{ record.simpleFileName }}</td>
                            <td>{{ record.totalRowsImportedFormatted }}</td>
                            <td>{{ record.validationStatus }}</td>
                            <td>{{ record.fccDeskOfficerConfirmationStatus }}</td>
                            <td>{{ record.fccMisHeadApprovalStatus }}</td>
                            <td>{{ record.processingStatus }}</td>
                            <td>
                                <form></form> <!-- FIX FOR form in a form hot showing, will sort it out later -->
                                {% if record.isFederalLevelSubmission %}
                                    <form method="post"
                                          action="{{ path('fed_level_career_dist_single_establishment') }}">
                                        <button type="submit" class="btn btn-info btn-xs">
                                            <i class="fa fa-list"></i> Open
                                        </button>
                                        <input type="hidden" name="searchOrganization"
                                               value="{{ record.organizationId }}">
                                        <input type="hidden" name="searchSubmissionYear"
                                               value="{{ record.submissionYear }}">
                                    </form>
                                {% endif %}
                                <form></form> <!-- FIX FOR form in a form hot showing, will sort it out later -->
                                {% if record.isStateLevelSubmission %}
                                    <form method="post"
                                          action="{{ path('state_level_career_dist_single_establishment') }}">
                                        <button type="submit" class="btn btn-info btn-xs">
                                            <i class="fa fa-list"></i> Open
                                        </button>
                                        <input type="hidden" name="searchOrganization"
                                               value="{{ record.organizationId }}">
                                        <input type="hidden" name="searchSubmissionYear"
                                               value="{{ record.submissionYear }}">
                                    </form>
                                {% endif %}

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <input type="hidden" name="startRow" value="{{ paginator.startRow }}"/>
                </div>
            </form>

        </div>
    </div>
{% endblock %}