
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>Federal Character Commission {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {#<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">#}

    <!-- Bootstrap watch paper theme CSS -->
    <link href="{{ asset('css/bootstrap-bootswatch-paper-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
    <link href="{{ asset('css/loading.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

<div class="login-info">

    <div class="login-info-content">
        <img src="{{ asset('images/fcc-logo2.png') }}" class="login-info-logo"/>
        <br/>
        <div class="login-info-client-name">
            Federal Character Commission
        </div>
        <div class="login-info-app-name">
            {#Data Processing &amp; Analysis Platform#}
            {% autoescape false %}
                {{ render(controller('AppBundle:Default:loginPageApplicationName')) }}
            {% endautoescape %}

        </div>
    </div>

</div>

<div class="login-wrapper">

    <div class="login-content" style="padding-bottom: 0px;">
        <div class="login-logo">
            <img src="{{ asset('images/login-form-logo.png') }}" />
        </div>
        <div class="login-title" style="margin-bottom: 10px;">{% block heading %}{% endblock %}</div>

        {% if error %}
            <div class="alert-container">
                <div class="alert alert-danger alert-dismissable fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}

        {% block main %}

        {% endblock %}
    </div>

    <div>
        <a href="http://federalcharacter.gov.ng/training/" target="_blank">
            <img src="{{ asset('images/login-advert.png') }}" />
        </a>
    </div>

</div>

<div id="loading-overlay">
    <div class="spinner-wrapper">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                        stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
