<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCC</title>

    <!-- Bootstrap -->
    {#<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">#}

    <!-- Bootstrap watch paper theme CSS -->
    {#<link href="{{ asset('css/bootstrap-bootswatch-paper-theme.min.css') }}" rel="stylesheet">#}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- font awesome -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

    <link href="{{ asset('bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">

</head>
<body style="padding: 15px 0 0 0;background: #EEF6F9;">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <form method="post" action="{{ path('open_notification') }}"
                  class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-envelope"></i> Compose Message</h3>
                    </div>

                    <div class="panel-body" style="background-color: #EEF6F9;">


                        {% if alertNotification.hasMessage %}
                            <div style="margin-bottom: 30px;">
                                <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    {% for message in alertNotification.messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="v-sep-10"></div>
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="email_addresses" class="col-xs-2 control-label text-bold">Email Addresses: <span
                                            class="text-danger">*</span></label>

                                <div class="col-xs-10">
                                    <input type="text" name="email_addresses" value="{{ notification.recipientEmailAddresses }}"
                                           class="form-control input-14 text-bold" id="email_addresses" placeholder="Enter Emails (Comma Separated)"
                                           autocomplete="off">
                                    {{ validator.fields.field('email_addresses').html | raw }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone_numbers" class="col-xs-2 control-label text-bold">Phone Numbers: <span
                                            class="text-danger"></span></label>

                                <div class="col-xs-10">
                                    <input type="text" name="phone_numbers" value="{{ notification.recipientPhoneNumbers }}"
                                           class="form-control input-14 text-bold" id="phone_numbers" placeholder="Enter Phone Numbers (Comma Separated) Optional"
                                           autocomplete="off">
                                    {{ validator.fields.field('phone_numbers').html | raw }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="subject" class="col-xs-2 control-label text-bold">Subject: <span
                                            class="text-danger">*</span></label>

                                <div class="col-xs-10">
                                    <input type="text" name="subject" value="{{ notification.subject }}"
                                           class="form-control input-14" id="subject" placeholder="Enter Subject"
                                           autocomplete="off" maxlength="100">
                                    {{ validator.fields.field('subject').html | raw }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="message" class="col-xs-2 control-label text-bold">Message: <span
                                            class="text-danger">*</span></label>
                                <div class="col-xs-10">
                    <textarea class="form-control input-14 counter message" rows="6" name="message" id="is-rich-text"
                              placeholder="Enter Message" maxlength="220">{{ notification.message }}</textarea>
                                    {{ validator.fields.field('message').html | raw }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="subject" class="col-xs-2 control-label text-bold">SMS Notification: <span
                                            class="help-block">(Optional)</span></label>

                                <div class="col-xs-10">
                                    <input type="text" name="sms_notification_message"
                                           value="{{ notification.smsNotificationMessage }}"
                                           class="form-control input-14" id="sms_notification_message"
                                           placeholder="Enter SMS Notification Message (Optional)"
                                           autocomplete="off" maxlength="160">
                                    {{ validator.fields.field('sms_notification_message').html | raw }}
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-2">
                                <button type="submit" class="btn btn-info" name="btnSend" id="btnSend">
                                    <i class="fa fa-send"></i> Send
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">

            <div style="padding: 10px;text-align: center;">
                <div style="margin-bottom: 100px;">
                    <img src="{{ asset('images/email-send.png') }}"/>
                    {#<pre>
                        {{ dump(recipientsContactInfo.recipientsPhoneNumbers) }}
                    </pre>
                    <br/><br/>
                    <pre>
                        {{ dump(recipientsContactInfo.recipientsEmailAddresses) }}
                    </pre>#}
                </div>

                <div class="spinner-wrapper" style="display: none;">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                    stroke-miterlimit="10">
                            </circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/textcounter.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('tinymce_4.5.3/tinymce/js/tinymce/tinymce.min.js') }}"></script>

<script>
    $(document).ready(function () {

        tinymce.init({
            selector: 'textarea#is-rich-text',
            height: 340,
            menubar: false,
            plugins: [
                'lists'
            ],
            toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist'
        });

        $('#subject').textcounter(
            {
                type: "character",
                min: 0,
                max: 100,
                countContainerElement: "div",
                countContainerClass: "text-count-wrapper",
                countSpaces: true,
                countDown: true
            }
        );

        /*$('.message').textcounter(
         {
         type: "character",
         min: 0,
         max: 220,
         countContainerElement: "div",
         countContainerClass: "text-count-wrapper",
         countSpaces : true,
         countDown : true
         }
         );*/

        $('#sms_notification_message').textcounter(
            {
                type: "character",
                min: 0,
                max: 160,
                countContainerElement: "div",
                countContainerClass: "text-count-wrapper",
                countSpaces: true,
                countDown: true
            }
        );


        $('#btnSend').on('click', function () {
            $('.spinner-wrapper').show();
        });

    });
</script>

</body>
</html>