<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Federal Character Commission</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-override.css') }}" rel="stylesheet">

    <!-- Bootstrap watch paper theme CSS -->
    {#<link href="{{ asset('css/bootstrap-bootswatch-paper-theme.min.css') }}" rel="stylesheet">#}

    <!-- font awesome -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/loading.css') }}" rel="stylesheet">


</head>

<body style="background-color: #EAF1F1;">

<div style="display: flex;justify-content: center;align-items: center; position: absolute;
        left: 0; top: 0; width: 100%; height: 100%;background-color: #EAF1F1;overflow-y: scroll;padding: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="background-color: #fff;padding: 10px; border-radius: 10px;display: flex; justify-content: center; align-items: center;">
                            <img src="{{ asset('images/user-256px.png') }}" style="margin: 0 auto;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Profile Update</h5>

                        <div style="height: 350px;">

                            {% if alertNotification.hasMessage %}
                                <div style="margin-bottom: 30px;">
                                    <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                        {% for message in alertNotification.messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <form method="post" action="{{ path('empty_profile_update') }}" class="form-horizontal"
                            onsubmit="showLoading();">

                                <div class="form-group">
                                    <label for="first-name" class="col-sm-3 control-label">First Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-14"
                                               name="first_name" id="first-name" value="{{ userProfile.firstName }}"
                                               autocomplete="off"/>
                                        {{ validator.fields.field('first_name').html | raw }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="last-name" class="col-sm-3 control-label">Last Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-14"
                                               name="last_name" id="last-name" value="{{ userProfile.lastName }}"
                                               autocomplete="off"/>
                                        {{ validator.fields.field('last_name').html | raw }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Email:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-14"
                                               name="email" id="email" value="{{ userProfile.emailAddress }}"
                                               autocomplete="off"/>
                                        {{ validator.fields.field('email').html | raw }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="primary-phone" class="col-sm-3 control-label">Primary Phone:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-14"
                                               name="primary_phone" id="primary-phone" value="{{ userProfile.primaryPhone }}"
                                               autocomplete="off"/>
                                        {{ validator.fields.field('primary_phone').html | raw }}
                                    </div>
                                </div>

                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="hidden" name="guid" value="{{ userProfile.guid }}">
                                    <button type="submit" name="btnSubmit" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <a href="{{ path('logout') }}" class="btn btn-danger" style="margin-left: 20px;">
                                        Cancel
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                {#<div style="background-color: #fff;padding: 20px; border-radius: 10px;">

                </div>#}
            </div>
        </div>
    </div>

</div>

<div id="loading-overlay">
    <div class="spinner-wrapper">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                        stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/app.js') }}"></script>

</body>
</html>
