{% extends 'base.fcc.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/body-not-white.css') }}" rel="stylesheet">
{% endblock %}

{% block page_toolbar_left %}
    Profile
{% endblock %}
{% block page_toolbar_right %}

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">

            {% include 'secure_area/user_account_profile/_user_profile_summary.html.twig' %}

        </div>
        <div class="col-sm-9">
            <div class="organization-profile-wrapper">

                {% include 'secure_area/user_account_profile/_user_account_profile_tabs.html.twig' with { activePage : 'change_password' } %}

                <div class="v-sep-20"></div>

                <div>
                    <form method="post" action="{{ path('user_profile_change_password') }}" class="form-horizontal"
                          onsubmit="showLoading();">



                        {% if alertNotification.hasMessage %}
                            <div style="margin-bottom: 30px;">
                                <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    {% for message in alertNotification.messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="old_pass" class="col-sm-2 control-label">Old Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-14"
                                       name="old_pass" id="old_pass" value="{{ changePassword.oldPassword }}"
                                       autocomplete="off"/>
                                {{ validator.fields.field('old_pass').html | raw }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="new-pass" class="col-sm-2 control-label">New Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-14"
                                       name="new_pass" id="new-pass" value="{{ changePassword.newPassword }}"
                                       autocomplete="off"/>
                                {{ validator.fields.field('new_pass').html | raw }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm-new-pass" class="col-sm-2 control-label">Confirm Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-14"
                                       name="confirm_new_pass" id="confirm-new-pass"
                                       value="{{ changePassword.confirmNewPassword }}"
                                       autocomplete="off"/>
                                {{ validator.fields.field('confirm_new_pass').html | raw }}
                                {{ validator.fields.field('password_match').html | raw }}
                            </div>
                        </div>

                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="guid" value="{{ profileSummary.guid }}">
                            <button type="submit" name="btnSubmit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}