<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCC</title>

    <!-- Bootstrap -->
    {#<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">#}

    <!-- Bootstrap watch paper theme CSS -->
    <link href="{{ asset('css/bootstrap-bootswatch-paper-theme.min.css') }}" rel="stylesheet">

    <!-- font awesome -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

</head>
<body style="padding: 20px;">

<div class="panel panel-default">
    <div class="panel-body">

        {% if alertNotification.hasMessage %}
            <div style="margin-bottom: 30px;">
                <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {% for message in alertNotification.messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div style="text-align: center;margin-bottom: 15px;">
            <img src="{{ asset('images/user-128px.png') }}"/>
        </div>

        <table class="table table-striped">
            <tr>
                <td width="120" valign="top"><b>Username:</b></td>
                <td>{{ userProfile.username }}</td>
            </tr>
            <tr>
                <td valign="top"><b>First Name:</b></td>
                <td>{{ userProfile.firstName }}</td>
            </tr>
            <tr>
                <td valign="top"><b>Last Name:</b></td>
                <td>{{ userProfile.lastName }}</td>
            </tr>
            <tr>
                <td valign="top"><b>Organization:</b></td>
                <td>{{ userProfile.organizationName }}</td>
            </tr>
            <tr>
                <td valign="top"><b>Role:</b></td>
                <td>{{ userProfile.primaryRole }}</td>
            </tr>
        </table>
        <form method="post" action="{{ path('super_admin_reset_user_password', { guid : userProfile.guid }) }}">
            <div class="form-group">
                <label class="control-label"><b>Enter New Password:</b></label>
                <div class="input-group">
                    <input type="password" class="form-control" name="new_pass">
                    <span class="input-group-btn">
                      <button class="btn btn-info" type="submit" name="btnSubmit">Submit</button>
                    </span>
                </div>
            </div>

            <input type="hidden" name="username" value="{{ userProfile.username }}">
            <input type="hidden" name="first_name" value="{{ userProfile.firstName }}">
            <input type="hidden" name="last_name" value="{{ userProfile.lastName }}">
            <input type="hidden" name="email" value="{{ userProfile.emailAddress }}">
            <input type="hidden" name="primary_phone" value="{{ userProfile.primaryPhone }}">
            <input type="hidden" name="organization_name" value="{{ userProfile.organizationName }}">
            <input type="hidden" name="state_of_posting" value="{{ userProfile.stateOfPostingName }}">
            <input type="hidden" name="primary_role" value="{{ userProfile.primaryRole }}">
            <input type="hidden" name="guid" value="{{ userProfile.guid }}">
            {{ validator.fields.field('new_pass').html | raw }}
        </form>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>