{% extends 'base.fcc.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/body-not-white.css') }}" rel="stylesheet">
{% endblock %}

{% block page_toolbar_left %}
    {{ organization.organizationName }}
{% endblock %}
{% block page_toolbar_right %}
    {#<a class="btn btn-link close-btn" href="{{ path('federal_ministry_list') }}"><i class="fa fa-arrow-left"></i></a>#}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3">

            <div class="organization-badge-wrapper">
                <div class="organization-badge-logo-container">
                    <div class="organization-badge-logo-circle">
                        {{ organization.establishmentMnemonic }}
                    </div>
                </div>
                <div class="organization-badge-details">
                    <table class="table table-striped">
                        <tr>
                            <td width="70" valign="top"><b>Name:</b></td>
                            <td>{{ organization.organizationName }}</td>
                        </tr>
                        <tr>
                            <td width="70" valign="top"><b>Code:</b></td>
                            <td>{{ organization.establishmentCode }}</td>
                        </tr>
                        <tr><td width="70" valign="top"><b>Mnemonic:</b></td>
                            <td>{{ organization.establishmentMnemonic }}</td>
                        </tr>
                        <tr>
                            <td width="70" valign="top"><b>Type:</b></td>
                            <td>{{ organization.establishmentTypeId }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="organization-profile-wrapper">

                <div>
                    <ul class="nav nav-tabs with-bold-active">
                        <li class="active">
                            <a href="{{ path('federal_organization_profile_summary' , { guid : organization.guid }) }}">
                                Summary
                            </a>
                        </li>
                        <li class="">
                            <a href="{{ path('federal_organization_profile_desk_officers_federal' , { guid : organization.guid }) }}">
                                Federal Desk Officer
                            </a>
                        </li>
                        {#<li class="">
                            <a href="{{ path('federal_organization_profile_desk_officers_state' , { guid : organization.guid }) }}">
                                State Desk Officers
                            </a>
                        </li>#}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}