{% extends 'base.login.v3.html.twig' %}

{% block main %}


    <h2 class="mb-4 text-center">Reset Your Password</h2>

    {% if alertNotification.hasMessage %}
        <div style="margin-bottom: 30px;">
            <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                {% for message in alertNotification.messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <form method="post" action="{{ path('reset_password') }}" class="text-center" onsubmit="showLoading();">
        <div class="form-group">
            <label class="text-muted" for="email">Email</label>
            <input type="text" placeholder="Enter Your Email Address" class="form-control form-control-line"
                   name="email" value="{{ userEmail }}" autocomplete="off">
            <div style="color: #f00;text-align: left;">{{ validator.fields.field('email').html | raw }}</div>
        </div>

        <div class="form-group no-gutters mb-5 text-center">
            <a href="{{ path('login') }}" id="to-login" class="text-muted fw-700 text-uppercase heading-font-family fs-12">Login</a>
        </div>
        <!-- /.form-group -->
        <div class="form-group mr-b-20">
            <button class="btn btn-block btn-rounded btn-md btn-color-scheme text-uppercase fw-600 ripple" type="submit">Submit</button>
        </div>
    </form>
    <!-- /form -->
    {#<button type="button" class="btn btn-block btn-rounded btn-outline-facebook ripple" title="Login with Facebook">Connect using <span class="fw-700">facebook</span>
    </button>#}

{% endblock %}

{% block javascripts %}{% endblock %}