{% extends 'base.login2.html.twig' %}

{% block title %}RESET PASSWORD{% endblock %}

{% block heading %}Reset Password{% endblock %}
{% block main %}

    <div class="login-container">

        {% if alertNotification.hasMessage %}
            <div style="margin-bottom: 30px;">
                <div class="alert alert-{{ alertNotification.type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    {% for message in alertNotification.messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form method="post" action="{{ path('reset_password') }}">
            <div class="form-group">
                <input type="text" name="email" value="{{ userEmail }}"
                       class="form-control" placeholder="Enter Your Email Address" autocomplete="off" />
                <div style="color: #f00;text-align: left;">{{ validator.fields.field('email').html | raw }}</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" name="btnSubmit">
                    <i class="fa fa-send"></i> Submit
                </button>
            </div>


        </form>

        <div style="text-align: center;margin-top: 40px;">
            <a href="{{ path('login') }}" class="btn btn-small btn-link">
                <i class="fa fa-arrow-left"></i> GO BACK
            </a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}{% endblock %}